apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - prometheus-operator-crds/application.yaml
  - prometheus/application.yaml
  - loki/application.yaml
  - prometheus-node-exporter/application.yaml
  - grafana/dashboards/argo-cd.yaml
  - secrets/sealed-secret.yaml
  # - sealed-secrets/application.yaml
